<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ClVerifyURI" value="https://verify.clverify.com/clv/xml-loan" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="ClVerifyAuthroize" value="S8trgEPQwxX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings  xdt:Transform="Replace">
    <add name="master" connectionString="Database=master;Data Source=master.cycctwjtwzma.us-west-2.rds.amazonaws.com;User ID=program;Password=1payday1;port=3306" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client  xdt:Transform="Replace">
      <endpoint address="https://ws.teletrack.com/inquiry.asmx" binding="basicHttpBinding" bindingConfiguration="InquirySoap" contract="Proxy.InquirySoap" name="InquirySoap" />
      <endpoint address="https://ws.teletrack.com/reporting.asmx" binding="basicHttpBinding" bindingConfiguration="ReportingSoap" contract="ReportingProxy.ReportingSoap" name="ReportingSoap" />
    </client>
  </system.serviceModel>
</configuration>